body{
	background: url(https://wallpapercave.com/wp/WIzDZz0.jpg)no-repeat center center fixed;
	background-size: cover;
}
.cofee{
	opacity: 0.5;
	border-radius: 100px;
	width: 50px;
}
nav{
	margin-left: 20%
}
.botón:hover{
  color: #fff !important;
  background-color: black !important;
  opacity: 50%;
}
td{
	width: 15%;
	text-align: center;
}
div{
	margin-left: 20%;
	margin-top: 8%;
}
img{
	width: 300px;

}

.fly{
	float: left;
	margin-bottom: 40%;

}
.uno{
	width: 27%;
}
a{
	text-decoration: none;
	color: black;

}
.dos{
	background-color: black;
	color: white;
	border-radius: 3px;
}
.polaroid {
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}
.RotarIzq {
    transform:rotate(10deg);
    -ms-transform:rotate(10deg); /* IE9 */
    -webkit-transform:rotate(10deg); /* Safari y Chrome */
    -moz-transform:rotate(10deg); 
}
 
.RotarDer {
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); /* IE9 */
    -webkit-transform:rotate(-10deg); /* Safari y Chrome */
    -moz-transform:rotate(-10deg); 
}
.curri{
  border-radius: 20%;
  width: 20%;
  color: white;
}
.curricu{
  margin-top: none;
  background-color: white;
  margin: 20%;
  margin-bottom: none;
}
.polaroidContenedor {
      width:300px;
      padding:10px 10px 10px 10px;
      border:1px solid #BFBFBF;
      background-color:white;
      box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
  }
  .textoPolaroid {
    display:block;
    margin-top:1em;
    text-align:center;
    font-style:italic;
    font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.zine{
	width: 300px;
}
